* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
.primary-section {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 2rem;
  background-position: top;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(rgba(0, 0, 0, 0.2)),
      to(rgba(0, 0, 0, 0.5))
    ),
    url(../img/background-min-1.jpg);
  background-image: -o-linear-gradient(
      bottom,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.5)
    ),
    url(../img/background-min-1.jpg);
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.5)
    ),
    url(../img/background-min-1.jpg);
}
.center {
  display: block;
  margin-left: auto;
  padding: 4%;
  margin-right: auto;
}
.primary-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 3rem;
  color: #fff;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}
.heading-bold {
  font-weight: 700;
  font-size: 6rem;
  margin-top: 1%;
  color: #ff0;
}
.contact-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 2rem 12rem;
}
.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 2%;
}
.contact-form {
  margin: 3.4rem;
}
.contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
input {
  background: #eee;
  border: 0.1rem solid #9f9f9f;
  border-radius: 0.4rem;
  color: #525252;
  height: 3.5em;
  font-size: 1.4rem;
  line-height: 1rem;
  margin: 0 0.5em 0.6em 0;
  padding: 0.4rem;
  width: 40rem;
}
.btn-primary {
  background-color: #5cb85c;
  color: #fff;
  outline: 0;
  font-size: 1.5rem;
  padding: 1.5rem;
  text-align: center;
  text-decoration: none;
  border-radius: 0.35em;
  margin: auto 9rem;
}
.text-2 {
  font-size: 2.5rem;
  color: #fff;
  font-weight: 700;
  margin-top: -3.4rem;
}
.contact-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  opacity: 0.8;
  border: 0.2rem solid #000;
  border-radius: 3.6rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.main-text {
  text-align: center;
  margin-bottom: 3%;
}
.info-text-1,
.info-text-2,
.info-text-3 {
  margin: 0.8rem;
}
.small {
  font-size: 2rem;
  color: grey;
  margin: 2%;
}
.info {
  padding: 2rem;
}
.bottom {
  margin: 4% auto;
  border-bottom: 0.3rem dotted grey;
}
.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.poster {
  width: 80%;
  height: 70%;
}
.txt-2 {
  font-weight: 700;
  font-size: 4rem;
}
.txt-1 {
  margin-top: 4%;
  font-weight: 400;
  font-size: 3rem;
}
.btn-primary-2 {
  background-color: #813589;
  color: #fff;
  font-weight: 600;
  border-radius: 0.8rem;
  padding: 1.5rem;
  margin: 2%;
  width: 17%;
  text-align: center;
  font-size: 1.6rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}
.testimonal-section {
  background-color: #d3d3d3;
  height: fit-content;
}

iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
p {
  color: grey;
  font-size: 2rem;
}
.title-2 {
  font-size: 4rem;
  font-weight: 700;
  color: purple;
}
.title-3 {
  font-size: 4rem;
  font-weight: 700;
  color: #fff;
}
.testimonal {
  font-size: 3rem;
}
.score {
  font-size: 2.4rem;
}
.bottom-bar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 0.2rem solid #000;
  width: 25rem;
  margin-bottom: 1%;
  margin-top: 1%;
}
.awards-section {
  height: fit-content;
  background-color: #2a103f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.awards-1 {
  margin-top: 3%;
}
.one {
  margin-top: -4%;
}
.two {
  margin-top: -4%;
}
.three {
  margin-top: -4%;
}
.buttons-2 {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
footer {
  text-align: center;
  font-size: 1.4rem;
  color: grey;
}
.btn-primary-1 {
  background-color: #813589;
  display: block;
  padding: 1.5rem;
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
  text-align: center;
  border-radius: 0.5rem;
  margin-top: 3%;
}
.btn-primary-3 {
  background-color: #727782;
  display: block;
  padding: 1.5rem;
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
  text-align: center;
  border-radius: 0.5rem;
  margin-top: 3%;
}
.txt {
  font-size: 1.7rem;
  color: #000;
}
.btn-1,
.btn-2 {
  margin: 0.8rem;
}
@media all and (min-width: 320px) and (max-width: 700px) {
  .primary-heading {
    font-size: 1.7rem;
  }
  .heading-bold {
    font-size: 2.6rem;
    margin-bottom: 3%;
  }
  .heaing-sub {
    font-size: 2rem;
    margin-bottom: 4%;
  }
  .contact-section {
    margin: auto 1rem;
  }
  input {
    width: 30rem;
  }
  .primary-section {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 2.3rem;
  }
  .awards-section {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 2rem;
  }
  .awards-1,
  .awards-2 {
    margin: 2rem auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .buttons-2 {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .title-2 {
    font-size: 3rem;
  }
  .testimonal {
    font-size: 2rem;
    margin: auto 2rem;
  }
  iframe {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .testimonal-section {
    padding: 2rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .title-3 {
    font-size: 3rem;
  }
  footer {
    margin: 3% auto;
  }
  .txt-2 {
    font-size: 2.5rem;
  }
  .txt-1 {
    font-size: 2.1rem;
  }
  .btn-primary-2 {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .poster {
    width: 90%;
    height: 100%;
  }
  .score {
    font-size: 2rem;
  }
  .contact-2 {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 2rem;
  }
  .contact-form {
    margin-top: -2%;
  }
  .btn-primary {
    width: 90%;
    margin: auto 4%;
  }
  .text-1 {
    margin-bottom: 4%;
  }
  p {
    font-size: 1.8rem;
  }
  .title {
    font-size: 1.9rem;
  }
  .text-2 {
    margin-top: 2rem;
    font-size: 2rem;
  }
  .curve {
    display: none;
  }
  .one {
    margin-top: 3%;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .primary-section {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 2.3rem;
  }
  .testimonal-section {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 2.3rem;
  }
  .awards-section {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .text-2 {
    margin-top: 5%;
  }
  .contact-details {
    border-right: none;
  }
  .heading-bold {
    font-size: 3.8rem;
  }
}
